<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>제주도 여행지 정하기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
    <button type="button" class="btm_image" id="img_btn1">서귀포시(서귀포시 중부)</button>
    <button type="button" class="btm_image" id="img_btn2">안덕,대정(서귀포시 서부)</button>
    <button type="button" class="btm_image" id="img_btn3">남원,표선,성산(서귀포시 동부)</button>
    <br>
    <button type="button" class="btm_image" id="img_btn4">조천,구좌,우도(제주시 동부)</button>
    <button type="button" class="btm_image" id="img_btn5">애월,한림,한경(제주시 서부)</button>
    <button type="button" class="btm_image" id="img_btn6">제주시내(제주시 중부)</button>
</body>
</html>